.realms-news-card {
    border: 1px solid var(--wp--preset--color--accent3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
 .realms-news-card h3 a {
    color: var(--wp--preset--color--accent3);
  }